{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block section %}

  {# <div style="font-size: 55px; margin-bottom: 20px">Postgres Data Table</div>

  <table style="border-collapse: separate; border: solid black 1px; border-spacing: 30px;">
    <thead>
      <tr style="text-align:center; font-weight: bold; font-size: 30px;">
        <td>journal_entry_id</td>
        <td>title</td>
        <td>journal_entry</td>
        <td>full_name</td>
      </tr>
    </thead>
    <tbody>
      {% for element in data %}
        <tr style="text-align:center; font-size: 25px;">
          <td style="padding: 40px">{{element.journal_entry_id}}</td>
          <td>{{element.title}}</td>
          <td>{{element.journal_entry}}</td>
          <td>{{element.full_name}}</td>
          {% set editPageURL = ["/data/", element.journal_entry_id] | join %}
          <td>
            <button type="submit" style="padding: 10px; background-color: lightblue;">
              <a style="text-decoration: none;" href={{editPageURL}}>Edit</a>
            </button>
          </td>
          {% set url = ["/data/", element.journal_entry_id, "?_method=DELETE"] | join %}
          <td>
            <form method="POST" action={{url}}>
              <button type="submit" style="padding: 10px; background-color: pink;">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table> #}

  {{ govukTable({
  
  firstCellIsHeader: true,
  head: [
    {
      text: "Journal Entry ID	"
    },
    {
      text: "Full Name"
    },
    {
      text: "Title"
    },
    {
      text: "Journal Entry"
    }
  ],
  rows: data
  
}) }}

{% endblock %}