{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}


{% block section %}

<div style="font-size: 55px; margin-bottom: 20px">Postgres Data Table</div>
<form method="POST" action="/form?_method=DELETE">
<table style="border-collapse: separate; border: solid black 1px; border-spacing: 30px;">
    <thead>
        <tr style="text-align:center; font-weight: bold; font-size: 30px;">
            <td>journal_entry_id</td>
            <td>title</td>
            <td>journal_entry</td>
            <td>full_name</td>
        </tr>
    </thead>
    <tbody>
        {% for element in data %}
        <tr style="text-align:center; font-size: 25px;">
            <td style="padding: 40px">{{element.journal_entry_id}}
            <td>{{element.title}}</td>
            <td>{{element.journal_entry}}</td>
            <td>{{element.full_name}}</td>
            <td>
              <button type="submit" style="padding: 10px;">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{# {{ govukTable({
  caption: "Postgres Data",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "journal_entry_id"
    },
    {
      text: "title"
    },
    {
      text: "journal_entry"
    },
    {
      text: "full_name"
    }    
  ],
  rows: [
    [
      {
        text: "First 6 weeks"
      },
      {
        text: "£109.80 per week"
      },
       {
        text: "First 6 weeks"
      },
      {
        text: "£109.80 per week"
      }
    ]
  ]
}) }} #}

{% endblock %}