{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block section %}

 <div class = "govuk-heading-xl" style = "font-size: 2.5rem" >Here are your notes:</div>

  <table class = "govuk-table">
    <thead>
      <tr class = "govuk-table__header">
        <td>Journal Entry ID</td>
        <td>Full name</td>
        <td>Title</td>
        <td>Journal Entry</td>
      </tr>
    </thead>
    <tbody class = "govuk-table__body">
      {% for element in rawData %}
        {% if id == element.journal_entry_id %}
          {% set editSubmitURL = ["/data/edit/", element.journal_entry_id, "?_method=PUT"] | join %}
          {# https://michaelheap.com/nunjucks-concatenate-string/ #}
          <form method="POST" action={{editSubmitURL}}>
            <tr class = "govuk-table__row">
              <th scope = "row" class = "govuk-table__header">{{element.journal_entry_id}}</td>
              <td class = "govuk-table__cell">
                <input class = "govuk-input" required value={{element.full_name}} name="full_name">
              </td>
              <td class = "govuk-table__cell">
                <input class = "govuk-input" required value={{element.title}} name="title">
              </td>
              <td class = "govuk-table__cell">
                <input class = "govuk-textarea" required value={{element.journal_entry}} name="journal_entry">
              </td>
              <td class = "govuk-table__cell">
                <button class = "govuk-button" type="submit" style="text-decoration: none; color: white;">Update</button>
              </td>
              <td>
                {% set deleteUrl = ["/data/", element.journal_entry_id, "?_method=DELETE"] | join %}
                {# https://michaelheap.com/nunjucks-concatenate-string/ #}
                <form method="POST" action={{deleteUrl}}>
                  <button class = "govuk-button" type="submit" style="text-decoration: none; color: white;">Delete</button>
                </form>
              </td>
            </tr>
          </form>
        {% else %}
          <tr class = "govuk-table__row">
          <th scope = "row" class = "govuk-table__header">{{element.journal_entry_id}}</td>
          <td class = "govuk-table__cell">{{element.full_name}}</td>
          <td class = "govuk-table__cell" >{{element.title}}</td>
          <td class = "govuk-table__cell" >{{element.journal_entry}}</td>
          {% set editPageURL = ["/data/", element.journal_entry_id] | join %}
          <td class = " govuk-table__cell">
            <form action={{editPageURL}}>
              <button class = "govuk-button" data-module = "govuk-button" type="submit" style="text-decoration: none; color: white;">Edit</button>
            </form>
            </td>
              {% set url = ["/data/", element.journal_entry_id, "?_method=DELETE"] | join %}
              <td class = "govuk-table__cell">
                <form method="POST" action={{url}}>
                  <button class = "govuk-button" data-module = "govuk-button" type="submit" style="text-decoration: none; color: white;" >Delete</button>
                </form>
              </td>
            </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  {{ govukTable({
  caption: "Dates and amounts",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Journal Entry ID"
    },
    {
      text: "Full Name"
    },
    {
      text: "Title"
    },
    {
      text: "Journal Entry"
    }
  ],
  rows: transformedData
  
}) }}

{% endblock %}